<!--
<div class='container'>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>First Row</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Second Row</span>
    </mat-toolbar-row>
  </mat-toolbar>
-->
<!--
    <mat-toolbar color="primary">
    <span>Application Title</span>

    This fills the remaining space of the current row 
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>
  </mat-toolbar>
-->
<div class='about-container'>
  <mat-tab-group class='mat-tpyograph'>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color='accent'>speaker_notes</mat-icon> 研究
        <em>動機</em>
      </ng-template>
      <h1>Advances of Iot ecosystem and ESP8266 on the market</h1>
      <p class='mat-body-1'>Aadvances of Iot helps developers to control and read data from internet connected devices from anywhere becomes more
        earily.
        <p>I bought a
          <a href='https://www.parallax.com/product/boe-bot-robot'> Boe-Bot robot kit </a> from Parallax inc a few years ago. It was bluetooth controlled. Although I was keen to have
          it wifi controlled at that time, but I hadn't have enough knowledge to accomplish the goal until I saw
          <a href='https://en.wikipedia.org/wiki/ESP8266'>
            ESP8266 </a>
          chip on the Net last year.</p>
        <p> The chip feautres with wifi and gpio and is inexpensive (~Nt$80), so I'm starting my Iot weekend projects.</p>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color='warn'>view_agenda</mat-icon> 研究
        <em>目的</em>
      </ng-template>
      <h1>To implement home automation & surveilance at low cost</h1>
      <p class='mat-body-1'>Saving energy can not only help the environment but also save us money.</p>
      <p>The chip can be programmed like any other Arduino device, which is very convinience for me to set up home automation/surveilance
        to try save energy as much as possible.
      </p>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color='primary'>info_outline</mat-icon> 研究
        <em>方法</em>
      </ng-template>
      <h1>Iot question 101: How to access devices from anywhere?</h1>
      <p class='mat-body-1'>It is easy to connect esp8266 devcies to the net; however, there are some problems need to be resolved:</p>
      <ul>
        <li>
          When programming, we usually hard code ssid and password to the devie for wifi connection, but what if we take it to somewhere
          else or we change our router's ssid or password?
        </li>
        <li>
          The device is assigned a dynamce private ip adress by DHCP servers and doesn't have a DNS name, something likes www.abc.com,
          after connection. How can we acess it from anywhere?
        </li>
        <li>
          How can i trigger an event for the device to take an action. e.g, I want the device to turn on/off aquarium waterpump at
          a certain tim automatically.
        </li>
        <li>
          Last but not least, we need to put the device into sleeping mode to save power.
        </li>
      </ul>

      <mat-divider mat-inset></mat-divider>
      <h2>Something to the rescue </h2>
      <p class='mat-body-1'>After studying and pulling most my hair out, the follwoing methods are implemented to solve the issues:</p>
      <ul>
        <li>
          3rd party wifi manager library
        </li>
        <li>
          <a href='https://en.wikipedia.org/wiki/MQTT'>MQTT (Message Queuing Telemetry Transport)</a>
        </li>
        <li>
          <a href='https://www.ifttt.com'> IFTTT (If This Then That) </a>
        </li>
        <li> interrupt and deep_sleep mode in arduion</li>
      </ul>
    </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <hr>

  <footer>
    <address>
      If you have any questions, please email me at
        <a href='mailto:giraftw2002@gmail.com'>
          <mat-icon color='warn'>email</mat-icon>
           giraftw2002@gmail.com
        </a>
    </address>    
  </footer>
</div>