.grid-container {
  margin: 1em;
}

.dashboard-card {
 margin: 1em;
  /*position: absolute; */
  max-width: 100%;
 
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

video {
  max-width: 100%;
  height: auto;
}
