<div *ngIf='prod'>
  <div class="grid-container">
    <!--
    <mat-grid-list cols="2" rowHeight='480'>
      <mat-grid-tile [colspan]="2" [rowspan]="2">
      -->
    <mat-card class="dashboard-card">
      <mat-card-header>

        <mat-card-title>
          <h1 class='mat-h1'>{{prod.name}}</h1>
        </mat-card-title>
        <!--
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      -->
      </mat-card-header>

      <video mat-card-image width='854' height='480' autoplay loop>
        <source src={{prod.url1}} type='video/mp4'>
      </video>
      <mat-divider></mat-divider>
      <video mat-card-image width='854' height='480' autoplay loop>
        <source src={{prod.url2}} type='video/mp4'>
      </video>
      <mat-card-content class='dashboard-card-content'>
        <p class='mat-h4'>{{prod.desc}}</p>
      </mat-card-content>
      <mat-card-actions>
        <!--
        <button mat-mini-fab>
          <mat-icon>thumb_up</mat-icon>
        </button>&nbsp;
        -->
        <mat-button-toggle-group name="socialSharing">
          <mat-icon>share</mat-icon>&nbsp;
          <a color='primary' mat-mini-fab href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fajoan.com" class="btn btn-social-icon btn-facebook">
            <i class="fa fa-facebook"></i>
          </a>&nbsp;
          <a color='accent' mat-mini-fab href="https://twitter.com/intent/tweet/?text=IoT%20Projects.&amp;url=https%3A%2F%2Fajoan.com" class="btn btn-social-icon btn-twitter">
            <i class="fa fa-twitter"></i>
          </a>&nbsp;    
          <a color='warn' mat-mini-fab href="https://plus.google.com/share?url=https%3A%2F%2Fajoan.com" mat-button-toggle value="g+">
            <i class="fa fa-google-plus"></i>
          </a>&nbsp;
          <a color='muted' mat-mini-fab href="mailto:?subject=Super%20fast%20and%20easy%20Social%20Media%20Sharing%20Buttons.%20No%20JavaScript.%20No%20tracking.&amp;body=https%3A%2F%2Fajoan.com"
            mat-button-toggle value='email'>
            <mat-icon>email</mat-icon>
          </a>
        </mat-button-toggle-group>


      </mat-card-actions>
      <mat-card-footer class='mat-body-2'>
        <a href='https://ifttt.com/discover' i18n='@@ifttt'>click on here to learn more about IFTTT</a>
      </mat-card-footer>
    </mat-card>
    <!--
      </mat-grid-tile>
    </mat-grid-list>
  -->
    <button mat-raised-button (click)="goBack()" color="warn" i18n='back'>
      <mat-icon class='white-text'>navigate_before</mat-icon>
      Go back
    </button>
  </div>

</div>