<div *ngIf='prod'>
  <div class="grid-container">
    <!--
    <mat-grid-list cols="2" rowHeight='480'>
      <mat-grid-tile [colspan]="2" [rowspan]="2">
      -->
    <mat-card class="dashboard-card">
      <mat-card-header>

        <mat-card-title>
          <h1 class='mat-h1'>{{prod.name}}</h1>
        </mat-card-title>
        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>Expand</button>
          <button mat-menu-item>Remove</button>
        </mat-menu>
      </mat-card-header>

      <video mat-card-image width='854' height='480' autoplay loop>
        <source src={{prod.url1}} type='video/mp4'>
      </video>
      <hr>
      <video mat-card-image width='854' height='480' autoplay loop>
        <source src={{prod.url2}} type='video/mp4'>
      </video>
      <mat-card-content>
        <p class='mat-h4'>{{prod.desc}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-mini-fab>
          <mat-icon>thumb_up</mat-icon>
        </button>&nbsp;
        <button mat-mini-fab color='primary'>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-footer class='mat-body-2'>
        <a href='https://ifttt.com/discover' i18n='@@ifttt'>click on here to learn more about IFTTT</a>
      </mat-card-footer>
    </mat-card>
    <!--
      </mat-grid-tile>
    </mat-grid-list>
  -->
    <button mat-raised-button (click)="goBack()" color="warn" i18n='back'>
      <mat-icon class='white-text'>navigate_before</mat-icon>
      Go back
    </button>
  </div>

</div>
