/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/*
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
*/
body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin: 0em;
  /* color: red; */
}
/*
h1 {
  color: royalblue;
}
h2 {
  color: #673ab7;
}
h3 {
  color: darkorange;
}
h4 {
  color:midnightblue;
}
*/
.container {
  margin: 0.1em;
}

.white-text{
  color:#FFF!important;
}

.background-accent-color{
  background-color: #ff4081!important;
}
.background-primary-color{
  color:#3f51b5!important;
}

.primaty-color{
  color: #3f51b5!important;
}
.accent-color{
  color: #ff4081!important;
}


/* everywhere else */
