<div class='container'>
<mat-card>
  <mat-card-content>

    <video mat-card-image defaultMuted autoplay loop>
      <source src='/assets/home.mp4' type='video/mp4'>
    </video>

  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>
<section class='mat-typography' style="background-color:lightgoldenrodyellow">
    <h3 >This is my favorit project</h3>
    <p >I have also developed a mobile app that can control the robot car's speed, distant to wall & sensor reading frequency.</p>
    <p> You can operate it wherever a wifi connection is available. A camera will be attached to it soon.</p>
  </section>
</div>
