<div class='container'>
  <mat-card>

    <mat-card-content>
      <video mat-card-image #vid autoplay muted loop>
        <source src='assets/home.mp4' type='video/mp4'>
      </video>
    </mat-card-content>
  </mat-card>
  <hr>
  <section class='mat-typography' style="background-color:lightgrey">
    <ng-container i18n='@@footer'>
      <h2>This is my favorit project</h2>
      <p>I have also developed a mobile app that can control the robot car's speed, distant to wall & sensor reading frequency.</p>
      <h4>
        <strong>You can control it from anywhere as long as there is a wifi connection available.</strong> A camera will be attached
        to it soon.</h4>
    </ng-container>
  </section>
  <button id='myBtn' #myBtn (click)="playVideo()" i18n='@@play'>Play</button>
</div>